:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: black;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("img/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 8px solid #222;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}
.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}
.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/* container*/
.container {
  max-width: 100%;
  margin: auto;
  overflow: auto;
}
/*tabs*/

.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tabs .container > div {
  padding: 1.5rem 0;
}
.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
}
.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

.tabs p {
  font-size: 1.2rem;
}
/*buttons*/
.btn {
  display: inline-block;
  color: #fff;
  background: var(--primary-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}
.btn:hover {
  opacity: 0.9;
}
.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 1.5rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

/* tab-content*/
.tab-content {
  position: relative;
  margin: 0 auto;
}
.tab-content-item {
  width: 100%;
  border-bottom: 8px solid #222;
  padding: 10px 10px;
}
.tab-content-inner {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  height: 100%;
  position: relative;
}
.tab-text {
  width: 42%;
  margin: 30px;
}
.text-lg {
  font-size: 3.4rem;
}
.text-sm {
  font-size: 1.5em;
}
.tab-content-inner .img-container {
  position: relative;
  overflow: hidden;
}
.tab-content-inner .img-container .img-card {
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
}
.tab-content-inner .img-animation video {
  position: absolute;
  top: 17%;
  left: 13%;
  z-index: 1;
  background-size: cover;
}

@media (max-width: 800px) {
  .tab-content-inner {
    flex-direction: column;
  }
  .text-lg {
    font-size: 40px;
  }
  .text-sm {
    font-size: 1em;
  }
  .tab-text {
    width: 80%;
    margin-top: 80px auto 0 auto;
  }
  .tab-content-inner .img-container .img-card {
    padding-bottom: 30px;
    position: relative;
    z-index: 2;
  }
  .tab-content-inner .img-animation video {
    position: absolute;
    width: 80%;
    z-index: 1;
  }

  #tab-2-content .tab-content-inner {
    flex-direction: column-reverse;
  }
}

#tab-2-content {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#tab-3-content .tab-content-inner {
  position: relative;
}
#tab-3-content .tab-content-inner .img-container .img-card {
  position: relative;
  min-width: 100%;
}

#tab-3-content .tab-content-inner .img-container .img3-animation video {
  position: absolute;
  z-index: 1;
  top: 8%;
  right: 1%;
  min-width: 100%;
}

/*Sign In*/
/*forms*/

#formsPage .showcase2 {
  width: 100%;
  height: 100vh;
  background: url("img/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
  opacity: 0.6;
}

#formsPage .showcase2 #signIn {
  position: relative;
  color: white;
  width: 400px;
  margin: 0 auto;
  top: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 1px 2px 5px 5px rgba(122, 122, 122, 0.6);
  z-index: 2;
}

#formsPage .showcase2 .showcase-top2 a img {
  width: 170px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}
#formsPage .showcase2 .showcase-top2 a {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

#formsPage .showcase2 #signIn #formSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 3;
  position: relative;
}
#formsPage .showcase2 #signIn h3 {
  position: relative;
  font-size: 1.9em;
  z-index: 3;
}
#formsPage .showcase2 #signIn #formSign input {
  width: 100%;
  padding: 17px;
  margin: 10px;
  z-index: 3;
  position: relative;
  background-color: rgb(46, 45, 45);
  border: none;
  outline: none;
  color: white;
}
input:hover {
  transition: all ease 0.3s;
}
input:focus {
  background-color: rgb(175, 172, 172);
}
input::placeholder {
  color: white;
}
.btn2 {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 1em;
  margin: 25px;
}
#formsPage .showcase2 #signIn #formSign p {
  color: darkgray;
}
p button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  padding-left: 10px;
  font-size: 1em;
}

#formsPage .showcase2::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0);
}

/*signUp*/

#signUp {
  position: absolute; /* Stay in place */
  z-index: 4; /* Sit on top */
  width: 100%;
  height: 100vh;
  background: url("img/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
}
#signUp .modal-content h3 {
  font-size: 1.9em;
}

#signUp .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 400px;
  height: 60vh;
  position: relative;
  opacity: 0.9;
  z-index: 6;
  box-shadow: 1px 2px 5px 5px rgba(122, 122, 122, 0.6);
  margin: 140px auto;
}
#signUp .modal-content input {
  width: 80%;
  padding: 17px;
  margin: 10px;
  z-index: 6;
  position: relative;
  background-color: rgb(46, 45, 45);
  border: none;
  outline: none;
  color: white;
}
#signUp .modal-content .btn2 {
  width: 80%;
}

#signUp.showcase-top2 a img {
  width: 170px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
}
#signUp.showcase-top2 a {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
#signUp .modal-content p a {
  padding-left: 20px;
}
#signUp .modal-content .btn2 {
  margin-bottom: 10px;
}

/*footer*/
.footer {
  width: 100%;
  height: 25vh;
}
.footer .footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}
.footer .footer-links .footer-sections {
  display: flex;
  flex-direction: column;
  margin: 1% 4%;
}
.footer .footer-links .footer-sections a {
  padding: 10px;
  color: rgb(85, 84, 84);
}
.footer .footer-links .footer-sections a:hover {
  color: rgb(51, 50, 50);
}
